<div class="flex flex-col justify-between px-5 h-auto py-3">
  <div class="flex flex-row w-full mb-2">
    <span class="text-3xl">Time Nest</span>
  </div>
  <div class="flex flex-row justify-between">
    <div class="w-full">
      <span class="text-lg text-slate-500">
        {{ currentDate | date: 'longDate' }}
      </span>
    </div>
    <div class="flex gap-4 w-full justify-end">
      <nz-icon 
        nz-dropdown 
        [nzDropdownMenu]="plusMenu"
        [nzClickHide]="false"
        [(nzVisible)]="isActionDropdownVisible"
        nzType="plus" 
        nzTheme="outline" 
        class="cursor-pointer text-lg"
        nzTrigger="click"
      >
      </nz-icon>
      <nz-icon nzType="user" nzTheme="outline" class="cursor-pointer text-lg" />
    </div>
  </div>
</div>

<nz-dropdown-menu #plusMenu="nzDropdownMenu">
  <ul nz-menu>
    @for(action of actions; track action) {
      <li class="px-4 py-2 hover:bg-emerald-200 cursor-pointer" (click)="onSelectAction(action.name)">
        <nz-icon [nzType]="action.icon" nzTheme="outline" class="mr-2"></nz-icon>
        {{ action.name }}
      </li>
    }
  </ul>
</nz-dropdown-menu>

